[project]
	description = big data vms
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Shin (gino9705)
[access "refs/for/refs/*"]
	read = group user/David Shin (gino9705)
	push = group user/David Shin (gino9705)
	label-Code-Review = -2..+2 group user/David Shin (gino9705)
	label-Verified = -1..+1 group user/David Shin (gino9705)
	rebase = group user/David Shin (gino9705)
	removeReviewer = group user/David Shin (gino9705)
	submit = group user/David Shin (gino9705)
[access "refs/heads/*"]
	read = group user/David Shin (gino9705)
	create = group user/David Shin (gino9705)
	push = +force group user/David Shin (gino9705)
	pushMerge = group user/David Shin (gino9705)
[access "refs/tags/*"]
	push = group user/David Shin (gino9705)
	push = +force group user/David Shin (gino9705)
